---
interface Props {
  title: string;
}

const description = "Astro and Supabase demo app";
const { title } = Astro.props;
const ogImageURL = new URL("hero.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;
const theme = Astro.cookies.get("theme");
const { user } = Astro.locals;
---

<html
  data-theme={theme?.value}
  id="html-tag"
  'lang="en"
  '
  class="h-full w-full"
>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
  </head>
  <body class="flex flex-col h-full w-full">
    <nav class="border-b bg-zinc-800">
      <div
        class="flex items-baseline justify-end sm:justify-between p-4 max-w-screen-xl mx-auto"
      >
        <div class="form-control w-52">
          <label class="cursor-pointer label">
            <span class="label-text"></span>
            <input
              id="theme"
              type="checkbox"
              class="toggle toggle-primary"
              checked
            />
          </label>
        </div>
        <a href="/" class="hidden sm:block font-semibold">APoint</a>
        <div>
          <ul class="font-medium flex items-baseline gap-8">
            <li>
              <a href="/dashboard" class="block"> Dashboard</a>
            </li>
            {
              user?.email ?? (
                <>
                  <li>
                    <a href="/register" class="block ">
                      Register
                    </a>
                  </li>
                  <li>
                    <a href="/signin" class="block ">
                      Sign in
                    </a>
                  </li>
                </>
              )
            }
            <li>
              <a href="/provider" class="block"> Provider</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <slot />
  </body>
</html>

<script>
  document.getElementById("theme")?.addEventListener("change", () => {
    const theme = document
      .getElementById("html-tag")
      ?.getAttribute("data-theme");
    document.cookie = `theme=${theme === "dark" ? "light" : "dark"};`;
    document
      .getElementById("html-tag")
      ?.setAttribute("data-theme", theme === "dark" ? "light" : "dark");
  });
</script>
